extends ../shared/template

block content
  header
    h1#about About

  .info.pet
    p Check out our Pets page to see what pets we currently have.
    p Don't see what you want? Add your own!
    p Oops, made a mistake on your animal? Use the delete button to get rid of them.
    p Want more info? Head over to our contact page to reach us!
